.zt-tour-popup * {
  font-family: Helvetica Neue, Inter, ui-sans-serif, "Apple Color Emoji",
    Helvetica, Arial, sans-serif;
    color: #000;
}

.zt-tour-popup-close-btn {
  all: unset;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 28px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  color: #4e4d4d;
  text-align: center;
  transition: color;
  transition-duration: 0.3s;
  z-index: 1;
}

.zt-tour-popup-close-btn:hover {
  color: #000;
}

.zt-tour-popup {
  all: unset;
  box-sizing: border-box;
  color: #2d2d2d;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px #0006;
  z-index: 1000000000;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}

.zt-tour-popup-title {
  font: 19px / normal sans-serif;
  font-weight: 700;
  display: block;
  position: relative;
  line-height: 1.5;
  zoom: 1;
  margin: 0;
}

.zt-tour-popup-description {
  margin-bottom: 0;
  font: 14px / normal sans-serif;
  line-height: 1.5;
  font-weight: 400;
  zoom: 1;
}

.zt-tour-popup-footer {
  margin-top: 15px;
  text-align: right;
  zoom: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zt-tour-popup-navigation-btns {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.zt-tour-popup-footer button {
  font: 12px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4ca0fff2;
  color: #fff;
  border-radius: 3px;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.zt-tour-popup-footer button:hover {
  background-color: #3585e0f2;
}

.zt-tour-popup-footer button:disabled{
  opacity: .5;
  pointer-events: none;
}

.zt-tour-popup-footer .zt-tour-popup-btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.zt-tour-popup-arrow {
    content: "";
    position: absolute;
    border: 5px solid #fff;
}

.zt-tour-popup-arrow-side-left {
  left: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.zt-tour-popup-arrow-side-right {
  right: 100%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.zt-tour-popup-arrow-side-top {
  top: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.zt-tour-popup-arrow-side-bottom {
  bottom: 100%;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

.zt-tour-popup-arrow-side-left.zt-tour-popup-arrow-align-start,
.zt-tour-popup-arrow-side-right.zt-tour-popup-arrow-align-start {
  top: 15px;
}

.zt-tour-popup-arrow-side-bottom.zt-tour-popup-arrow-align-start,
.zt-tour-popup-arrow-side-top.zt-tour-popup-arrow-align-start {
  left: 15px;
}

.zt-tour-popup-arrow-align-end.zt-tour-popup-arrow-side-left,
.zt-tour-popup-arrow-align-end.zt-tour-popup-arrow-side-right {
  bottom: 15px;
}

.zt-tour-popup-arrow-side-bottom.zt-tour-popup-arrow-align-end,
.zt-tour-popup-arrow-side-top.zt-tour-popup-arrow-align-end {
  right: 15px;
}

.zt-tour-popup-arrow-side-left.zt-tour-popup-arrow-align-center,
.zt-tour-popup-arrow-side-right.zt-tour-popup-arrow-align-center {
  top: 50%;
  margin-top: -5px;
}

.zt-tour-popup-arrow-side-bottom.zt-tour-popup-arrow-align-center,
.zt-tour-popup-arrow-side-top.zt-tour-popup-arrow-align-center {
  left: 50%;
  margin-left: -5px;
}

.zt-tour-d-none{
    display: none;
}

.zt-tour-popup-title {
    font: 19px/normal sans-serif;
    font-weight: 700;
    display: block;
    position: relative;
    line-height: 1.5;
    margin: 0;
    color: #000;
}

.zt-tour-popup-description {
    margin-bottom: 0;
    font: 14px/normal sans-serif;
    line-height: 1.5;
    font-weight: 400;
    zoom: 1;
    color: #000;
}
